/* #root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */
:root {
  background-color: rgb(218, 218, 218);
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.nav {
  font-size: 2.5vmin;
  display: flex;
  justify-content: flex-start;
}
.nav a {
  padding: 1vmin;
  text-decoration: none;
  color: rgb(0, 0, 0);
}
#navbar {
  overflow: hidden;
  background-color: #333;
}

/* Navbar links */
#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}