
.logo {
  width: 20vmin;
}

.logo-header {
  display: flex;
  align-items: center;
  font-size: 2vmin;
  
}

.engineer {
   margin-left: auto;
}

#root {
  margin: 20px;
  /* font-family: "Syne", sans-serif;
  font-optical-sizing: auto;
  font-style: normal; */
}
.link {
  text-decoration: none;
  color: black;
  padding-right: 20px;
}

/* PROJECT */
.projects-container {
  /* max-width: 1000px;
  margin: 0 auto;
  padding: 20px; */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));   
  gap: 20px;
}
.projects-container h1 {
  font-size: 8vmin;
}
/* .project-header {
  display: flex;
  justify-content: center;
} */
.project {
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  /* background-color: rgb(27, 50, 27, 0.4); */
}

.project h1 {
  font-size: 28px;
  margin-bottom: 5px;
  color: #333;
}

.project h3 {
  font-size: 18px;
  margin-bottom: 5px;
  color: #555;
}

.project h4 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #777;
}

.project img {
  max-width: 100%;
  border-radius: 5px;
}
.project a{
  padding-right: 10px;
}
.project button{
  padding: 5px 26px;
  font-size: 2vmin;
  background-color: #d09a966f;
  border-radius: 1px #d09a96;
  border: none;
  color: rgb(255, 255, 255);
  color: black;
}
.project button:hover {
  background-color: #d76055;
}


.footer {
  padding: 10vmin;
  display: flex;
  /* justify-content: space-evenly;
  justify-content: space-around;
  margin: 0; */
  background-color: #dad2d256;
  /* color: rgb(28, 95, 28); */
}
.socials {
  padding-right: 60vmin;
}


.info, .social {
 font-size: 2vmin;
 /* color: rgb(28, 95, 28); */
 color: black;
}

#about {
  display: flex;
  justify-content: center;
  margin-top: 8vmin;
}

.about-content {
  display: flex;
  max-width: 800px; 

}

.pic-me {
  flex: 1;
  margin-right: 20px; /* Adjust spacing between image and text */
  
}

.me {
  width: auto;
  height: 80vmin;
  padding-left: 20px;
  filter: grayscale(100%);
}

.about-me {
  flex: 2;
}